// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$medium-green: #239B56;
$very-light-grey: #F2F3F4;
// $dark-blue: #333745;

// Spacing
$xs-size: .4rem;
$s-size: 1rem;
$m-size: 1.6rem;
$ml-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;